
#font(){
  mini: 8px;
  normal: 14px;
  large: 20px;
}

#colors(){
  lightGray: #f1f2f5;
  gray: #ccc;
  white: white;
  red: #F5222E;
}


.font-mini(){
  font-size: #font[mini]!important;
}
.font-normal(){
  font-size: #font[normal]!important;
}
.font-large(){
  font-size: #font[large]!important;
}

.color-red(){
  color: #colors[red];
}


.border-radius(){
  border-radius: 2%;
}
.border-box(){
  box-sizing: border-box;
}

.content-box(){
  box-sizing: content-box;
}

.border-bg1(){
  border-bottom: 1px solid #colors[lightGray];
}

.box-shadow-light(){
  box-shadow: 1px 1px 8px #colors[gray];
}

.bg-white(){
  background-color: #colors[white];
}

.inline(){
  display: inline-block;
}


.padding15(){
  padding: 15px;
}

.ml8(){
  margin-left: 8px;
}


.vertical-center(){
  display: flex;
  align-items: center;
}

.horizontal-left(){
  text-align: left;
}
.horizontal-right(){
  text-align: right;
}

.flex1(){
  flex: 1;
}
.flex2(){
  flex: 2;
}

.cursor-pointer(){
  cursor: pointer;
}
